<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo Application</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="box" id="heading">
      <h1><%= day %></h1>
    </div>

    <div class="box">
      <% for( let index = 0; index < todos.length; index++ ) { %>
      <div class="item">
        <input type="checkbox" name="chk" />
        <p><%= todos[index] %></p>
      </div>
      <% } %>

      <form action="/" method="POST">
        <input
          type="text"
          name="toDoInput"
          id="todo-input"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
